<!-- 
File Name :-profileverification.component.html	   	Created Date :-31-08-2020     Created By :- Faiser I (Emp. Id : VTPL/BLR/006)
	
Description :- this component is used to approve or decline the users					
	
============================================================================================================================
  Sl.No			    Description			                                Modified By		              	      Modified Date	
============================================================================================================================
	
	
 -->

<h3 class="green">ALL Verification Request</h3>
<table id="paginationSimpleNumbers" class="table text-center" width="100%">
    <thead class="orange">
        <tr>
            <th class="th-sm">Sl No
            </th>
            <th class="th-sm">KnokTalk ID
            </th>
            <th class="th-sm">Name
            </th>
            <th class="th-sm">Attachment
            </th>
            <th class="th-sm">Username
            </th>
            <th class="th-sm">Created
            </th>
            <th class="th-sm">Action
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let verification of verificationList ; let i = index;">
            <td>{{i+1}}</td>
            <td>{{verification[i]}}</td>
            <td>{{verification[i]}}</td>
            <td><img src="assets/img/user.png" alt="" style="max-width: 5rem;"></td>
            <td>{{verification[i]}}</td>
            <td>{{verification[i]}}</td>
            <td class="text-center">
                <mat-icon color='accent' matTooltip="Approve" [matTooltipPosition]="'below'" matTooltipHideDelay="500"
                    class="edit-btn">check_circle</mat-icon>
                <mat-icon color='warn' matTooltip="Reject" [matTooltipPosition]="'below'" matTooltipHideDelay="500"
                    class="Decline">cancel
                </mat-icon>
            </td>
        </tr>
    </tbody>
    <!-- <tfoot>
      <tr>
        <th>Name
        </th>
        <th>Position
        </th>
        <th>Office
        </th>
        <th>Age
        </th>
        <th>Start date
        </th>ng s
        <th>Salary
        </th>
      </tr>
    </tfoot> -->
</table>