<div class="text-right">
  <button type="button" class="btn btn-danger add-btn" (click)="routeToUploadSound()">Add Sound File</button>
</div>
<div class="container">
  <div class="container-fluid mx-auto">
    <div class="row d-flex justify-content-center mx-auto">
      <div class="col-lg-3 col-md-6 col-sm-12 mt-2">
      <div class="card">
        <div class="card-horizontal">
          <div class="img-square-wrapper">
            <img class="img" src="assets/img/music.png" alt="Card image cap">
          </div>
          <div class="card-body">
            <p class="card-head">Original Sound</p>
            <small>
              <mat-icon color="warn" class="delete-btn"   matTooltip="Delete" [matTooltipPosition]="'right'" matTooltipHideDelay="500">delete_forever</mat-icon>
            </small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 mt-2">
      <div class="card">
        <div class="card-horizontal">
          <div class="img-square-wrapper">
            <img class="img" src="assets/img/music.png" alt="Card image cap">
          </div>
          <div class="card-body">
            <p class="card-head">Original Sound</p>
            <small>
              <mat-icon color="warn" class="delete-btn"   matTooltip="Delete" [matTooltipPosition]="'right'" matTooltipHideDelay="500">delete_forever</mat-icon>
            </small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 mt-2">
      <div class="card">
        <div class="card-horizontal">
          <div class="img-square-wrapper">
            <img class="img" src="assets/img/music.png" alt="Card image cap">
          </div>
          <div class="card-body">
            <p class="card-head">Original Sound</p>
            <small>
              <mat-icon color="warn" class="delete-btn"   matTooltip="Delete" [matTooltipPosition]="'right'" matTooltipHideDelay="500">delete_forever</mat-icon>
            </small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 mt-2">
      <div class="card">
        <div class="card-horizontal">
          <div class="img-square-wrapper">
            <img class="img" src="assets/img/music.png" alt="Card image cap">
          </div>
          <div class="card-body">
            <p class="card-head">Original Sound</p>
            <small>
              <mat-icon color="warn" class="delete-btn"   matTooltip="Delete" [matTooltipPosition]="'right'" matTooltipHideDelay="500">delete_forever</mat-icon>
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>