<div class="container">
  <div class="container-fluid mx-auto">
    <div class="row d-flex justify-content-center mx-auto">
      <div class="col-lg-3 col-md-6 col-sm-12 mt-2">
        <div class="card shadow">
          <div class="card-horizontal">
            <div class="img-square-wrapper">
              <img class="img" src="assets/img/music.png" alt="Card image cap">
            </div>
            <div class="card-body">
              <p class="card-head">Original Sound</p>
              <h6>
                <mat-icon color="accent" class="publish-icon" matTooltip="Publish" [matTooltipPosition]="'above'" matTooltipHideDelay="500"(click)="openDialog()">publish</mat-icon>
                <mat-icon color="warn" class="delete-icon" matTooltip="Delete" [matTooltipPosition]="'above'" matTooltipHideDelay="500">delete_forever</mat-icon>
              </h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 mt-2">
        <div class="card shadow">
          <div class="card-horizontal">
            <div class="img-square-wrapper">
              <img class="img" src="assets/img/music.png" alt="Card image cap">
            </div>
            <div class="card-body">
              <p class="card-head">Original Sound</p>
              <h6>
                <mat-icon color="accent" class="publish-icon" matTooltip="Publish" [matTooltipPosition]="'above'" matTooltipHideDelay="500"(click)="openDialog()">publish</mat-icon>
                <mat-icon color="warn" class="delete-icon" matTooltip="Delete" [matTooltipPosition]="'above'" matTooltipHideDelay="500">delete_forever</mat-icon>
              </h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 mt-2">
        <div class="card shadow">
          <div class="card-horizontal">
            <div class="img-square-wrapper">
              <img class="img" src="assets/img/music.png" alt="Card image cap">
            </div>
            <div class="card-body">
              <p class="card-head">Original Sound</p>
              <h6>
                <mat-icon color="accent" class="publish-icon" matTooltip="Publish" [matTooltipPosition]="'above'" matTooltipHideDelay="500"(click)="openDialog()">publish</mat-icon>
                <mat-icon color="warn" class="delete-icon" matTooltip="Delete" [matTooltipPosition]="'above'" matTooltipHideDelay="500">delete_forever</mat-icon>
              </h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 mt-2">
        <div class="card shadow">
          <div class="card-horizontal">
            <div class="img-square-wrapper">
              <img class="img" src="assets/img/music.png" alt="Card image cap">
            </div>
            <div class="card-body">
              <p class="card-head">Original Sound</p>
              <h6>
                <mat-icon color="accent" class="publish-icon" matTooltip="Publish" [matTooltipPosition]="'above'" matTooltipHideDelay="500"(click)="openDialog()">publish</mat-icon>
                <mat-icon color="warn" class="delete-icon" matTooltip="Delete" [matTooltipPosition]="'above'" matTooltipHideDelay="500">delete_forever</mat-icon>
              </h6>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="col-lg-3 col-md-6 col-sm-12 mt-2">
        <div class="card shadow">
          <div class="card-horizontal">
            <div class="img-square-wrapper">
              <img class="img" src="assets/img/music.png" alt="Card image cap">
            </div>
            <div class="card-body">
              <p class="card-head">Original Sound</p>
              <h6>
                <a><mat-icon color="accent" class="publish-icon" title="Publish" (click)="openDialog()">publish</mat-icon></a>
                <mat-icon color="warn" class="delete-icon" title="Delete">delete_forever</mat-icon>
              </h6>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>


<!-- <div class="container-fluid">
  <div class="row d-flex justify-content-around">
    <div class="col-lg-3 col-md-6 col-sm-12">
      <div class="card text-left">
        <img class="card-img-top" src="holder.js/100px180/" alt="">
        <div class="card-body">
          <h4 class="card-title">Title</h4>
          <p class="card-text">Body</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
      <div class="card text-left">
        <img class="card-img-top" src="holder.js/100px180/" alt="">
        <div class="card-body">
          <h4 class="card-title">Title</h4>
          <p class="card-text">Body</p>
        </div>
      </div>

    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
      <div class="card text-left">
        <img class="card-img-top" src="holder.js/100px180/" alt="">
        <div class="card-body">
          <h4 class="card-title">Title</h4>
          <p class="card-text">Body</p>
        </div>
      </div>

    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
      <div class="card text-left">
        <img class="card-img-top" src="holder.js/100px180/" alt="">
        <div class="card-body">
          <h4 class="card-title">Title</h4>
          <p class="card-text">Body</p>
        </div>
      </div>

    </div>
    <div class="col-lg-2 col-md-6 col-sm-12">
      <div class="card text-left">
        <img class="card-img-top" src="holder.js/100px180/" alt="">
        <div class="card-body">
          <h4 class="card-title">Title</h4>
          <p class="card-text">Body</p>
        </div>
      </div>

    </div>
  </div>
</div> -->